<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Dashboard</title>
</head>
<body>

    <div class="col-2">
        <header></header>
        <main class="content">
            <article>
                
                <h1>Welcome to the Bot Dashboard</h1>
            <p>This is your dashboard where you can manage your Discord bot.</p>
            <p>Here, you can control different bot features, view statistics, and more!</p>
            </article>
        </main>
        <footer>Footer</footer>
        </div>
</body>
</html>
